*.o
*.mod
*~
*#
*.#*
test/advection
test/acoustics_const
test/acoustics_var
test/euler
benchmark/advection
benchmark/acoustics_const
benchmark/acoustics_var
benchmark/euler
src/fortran/manyclaw_fortran
 
