*.o
*.dylib
*.so
*.mod
*~
*#
*.#*
.project
.cproject
lib/*
test/advection
test/acoustics_const
test/acoustics_var
test/euler
test/limiters
benchmark/advection
benchmark/advection_var
benchmark/acoustics_const
benchmark/acoustics_var
benchmark/euler
src/fortran/manyclaw_fortran
 
test/gtest_main.a
*tester
variables.inc

demo/advection_2d_square/advection
demo/advection_2d_swirl/swirl
demo/acoustics_2d_homogeneous/acoustics
demo/euler_2d_quadrants/quadrants