*.o
*.dylib
*.so
*.mod
*~
*#
*.#*
.project
.cproject
lib/*
test/advection
test/acoustics_const
test/acoustics_var
test/euler
test/limiters
benchmark/advection
benchmark/acoustics_const
benchmark/acoustics_var
benchmark/euler
src/fortran/manyclaw_fortran
 
test/gtest_main.a
*tester
